POSTGRES_HOST = "localhost"
POSTGRES_PORT = "5432"
POSTGRES_USER = "phea"
POSTGRES_PASSWORD = "phea"
POSTGRES_DB = "phea"

NEXTAUTH_SECRET = ""

LANGFUSE_SALT = ""
LANGFUSE_ENCRYPTION_KEY = ""

LANGFUSE_SECRET_KEY = ""
LANGFUSE_PUBLIC_KEY = ""
LANGFUSE_HOST = "http://localhost:3000"

OPENAI_API_KEY =